
  

  
  /* apply styles to <header> */
  header {
    padding: 20px 35px;
    background-color: #4adaf3;
  }
  
 
  header h1 {
    text-decoration: none;
    color: #9412a5;
  }
  
  .container {
    width: 1280px;
    margin: 0 auto;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}
nav {
    
     text-align: right;
}
.navitem {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(199, 31, 185);
    font-size: large;
    padding: 4px 10px;
    
} 

footer h2 {
  display: inline;
  color: #024e76;
  font-size: 30px;
  margin: 0;
}

footer div {
  float: right;
  line-height: 1.5;
  text-align: right;
}

footer a {
  color: #024e76;
}

footer {
  background-color: #fce138;
  width: 100%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border box;
}